@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.bg-chaorcal-cl {
  background-color: rgb(10, 16, 22);
}

.text-yellow,
.text-yellow:hover {
  color: #0d6efd;
}

@keyframes growDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sidebar {
  z-index: 10000;
  width: 22rem;
  overflow-y: scroll;
  transition: 0.2s;
}
.sidebar.collapsed {
  width: 4.7rem;
  overflow-x: hidden;
}
.sidebar.collapsed:hover {
  width: 22rem;
  overflow-y: scroll;
}
.sidebar.collapsed:hover .sidebar-dropdown-menu {
  padding: 0 0 0 2rem;
  animation: growDown 300ms ease-in-out forwards;
}
.sidebar.collapsed:hover .sidebar-dropdown-menu .sidebar-dropdown-menu-item a {
  position: relative;
  right: -0.5rem;
  transition: 0.3s;
  inline-size: 17.5rem;
}
.sidebar.collapsed:hover .admin_text {
  display: block;
  inline-size: 1000px;
}
.sidebar.collapsed .admin_text a {
  display: none;
  inline-size: 15rem;
  overflow: hidden;
}
.sidebar.collapsed .sidebar-menu li:nth-child(3) a i {
  position: relative;
  right: 2px;
}
.sidebar.collapsed .sidebar-menu li:nth-child(4) a i {
  position: relative;
  right: 1px;
}
.sidebar.collapsed .sidebar-menu li:nth-child(6) a i {
  position: relative;
  right: 1px;
}
.sidebar.collapsed .sidebar-menu li:nth-child(7) a i {
  position: relative;
  right: 1px;
}
.sidebar.collapsed .sidebar-menu li:nth-child(9) a i {
  position: relative;
  right: 1px;
}
.sidebar.collapsed .sidebar-menu li a {
  display: flex;
  gap: 1rem;
  height: 3rem;
  inline-size: 20rem;
  overflow: hidden;
}
.sidebar.collapsed .sidebar-menu li a i {
  height: 2rem;
  text-align: center;
  width: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}
.sidebar.collapsed .sidebar-menu li ul li a {
  inline-size: 18rem;
  position: relative;
  right: 2rem;
}
.sidebar.collapsed:hover .sidebar-arrow {
  margin-left: auto;
  margin-right: 0;
}
.sidebar.collapsed .sidebar-arrow {
  margin: 0 auto;
  transition: 0.2s;
}
.sidebar::-webkit-scrollbar {
  background-color: rgb(11, 18, 24);
  width: 8px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.05);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.sidebar::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #6610f2), color-stop(1, #0d6efd));
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 10px;
}
.sidebar .sidebar-arrow {
  color: rgb(226, 226, 226);
  cursor: pointer;
  transition: all 0.3s;
}
.sidebar .sidebar-arrow:hover {
  color: #0d6efd;
}
.sidebar .sidebar-menu {
  list-style-type: none;
}
.sidebar .sidebar-menu .sidebar-menu-item.focused > a {
  background-image: linear-gradient(to bottom right, #0dcaf0, #6610f2);
  color: #101820;
  border-radius: 5rem;
}
.sidebar .sidebar-menu .sidebar-menu-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0d6efd;
  padding: 0.75rem 0.75rem;
  transition: all 0.3s;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
.sidebar .sidebar-menu .sidebar-menu-item a:hover {
  background-color: rgb(26, 35, 41);
}
.sidebar .sidebar-menu .sidebar-menu-item a .menu-item-icon {
  margin: 0 0.7rem 0 0;
  font-size: 1.25rem;
  width: 1.3rem;
  text-align: center;
}
.sidebar .sidebar-menu .sidebar-menu-item a .right-arrow {
  transform: rotateZ(270deg);
}
.sidebar .sidebar-menu .sidebar-menu-item .focused > a {
  color: #101820;
  transition: all 0.3s;
}
.sidebar .sidebar-menu .sidebar-menu-item.active a {
  background-image: linear-gradient(to bottom right, #0dcaf0, #6610f2);
  color: #101820;
}
.sidebar .sidebar-menu .sidebar-menu-item > a {
  overflow: hidden;
}
.sidebar .sidebar-menu hr {
  height: 2px;
  background-image: linear-gradient(#0dcaf0, #6610f2);
}
.sidebar .sidebar-menu .sidebar-dropdown-menu {
  padding: 0 0 0 2rem;
  animation: growDown 300ms ease-in-out forwards;
}
.sidebar .sidebar-menu .sidebar-dropdown-menu .sidebar-dropdown-menu-item a {
  padding: 0.5rem 0.75rem;
  color: rgb(226, 226, 226);
  position: relative;
  transition: 0.3s;
}
.sidebar .sidebar-menu .sidebar-dropdown-menu.show {
  display: block;
  transition: height 0.3s ease-in;
}
.sidebar .sidebar-menu .sidebar-menu-item.focused > a .right-arrow {
  transform: rotateZ(360deg);
  transition: ease-in-out all 0.15s;
}
.sidebar.collapsed.admin_text.sidebar-logo {
  display: none;
  inline-size: 1000px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-dashboard-page {
  border: 1px solid;
  width: 100%;
  float: right;
}
.main-dashboard-page .navbar {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #6610f2, #0d6efd);
  background-color: rgb(10, 16, 22);
  width: 96.1%;
  float: right;
  display: flex;
  justify-content: space-between;
}
.main-dashboard-page .navbar form {
  display: flex;
  gap: 1rem;
}
.main-dashboard-page .navbar form input,
.main-dashboard-page .navbar form button {
  border-radius: 0.2rem;
}
.main-dashboard-page .navbar form input {
  border: none;
}
.main-dashboard-page .navbar form input:focus {
  outline: none;
  border: none;
}
.main-dashboard-page .navbar form button {
  border: 1px solid #0d6efd;
  color: #0d6efd;
  transition: all 0.3s;
}
.main-dashboard-page .navbar form button:hover {
  background-color: #0d6efd;
  color: white;
}
.main-dashboard-page .navbar .header-right {
  margin: 0 2.5rem;
  position: relative;
  right: 0;
  float: right;
  width: 50rem;
  height: 100%;
  gap: 1rem;
  padding: 0 1rem;
}
.main-dashboard-page .navbar .header-right .profile-admin {
  height: 2.4rem;
  width: 2.4rem;
  border: 3px solid gray;
  border-radius: 50px;
}
.main-dashboard-page .navbar .header-right .profile-admin:hover {
  cursor: pointer;
}
.main-dashboard-page .navbar .header-right .profile-admin img {
  height: 100%;
}
.main-dashboard-page .navbar .header-right .dropdown button {
  background: transparent;
  border: none;
}
.main-dashboard-page .navbar .header-right .dropdown .dropdown-toggle::after {
  display: none;
}
.main-dashboard-page .navbar .header-right .dropdown .dropdown-menu {
  width: 15rem;
  position: absolute;
}
.main-dashboard-page .navbar .header-right .dropdown .dropdown-menu span {
  margin: 0 1rem;
  text-align: center;
  position: relative;
  left: 12px;
}
.main-dashboard-page .navbar .header-right .dropdown:nth-child(2) .dropdown-menu {
  width: 5rem;
  margin: 0 40rem 0 0;
}
.main-dashboard-page .navbar .header-right .dropdown:nth-child(3) .dropdown-menu {
  width: 13rem;
  left: -5rem;
}
.main-dashboard-page .navbar .header-right .dropdown:nth-child(4) .dropdown-menu {
  width: 13rem;
  left: -10rem;
}
.main-dashboard-page .container .news {
  border: none;
}
.main-dashboard-page .container .news .card {
  margin: 0 0 25px 0;
  border: none;
  border-radius: 0.6;
  position: relative;
}
.main-dashboard-page .container .news .card.card-custom {
  background-image: linear-gradient(to left, #6610f2, #0d6efd);
}
.main-dashboard-page .container .news .card h5 {
  color: white;
}
.main-dashboard-page .container .news .card .card-title {
  font-size: 1.4rem;
  margin: 0 0 1.2rem 0;
}
.main-dashboard-page .container .news .card .card-subtitle {
  font-weight: 300;
  background-color: rgb(10, 16, 22);
  border-radius: 10px;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.main-dashboard-page .container .news .card p {
  font-size: 0.9rem;
}
.main-dashboard-page .container .news .card i {
  display: inline-block;
  position: absolute;
  right: 3rem;
  top: 5rem;
  color: rgba(0, 0, 0, 0.6);
}
.main-dashboard-page .container .news .card i:before {
  display: block;
  height: 30px;
  width: 30px;
}
.main-dashboard-page .container .graph {
  border: none;
  background-color: rgb(10, 16, 22);
}
.main-dashboard-page .container .graph .graph-picture {
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
.main-dashboard-page .container .company-team .card {
  height: 15rem;
  background-color: rgb(10, 16, 22);
}
.main-dashboard-page .container .company-team .card img {
  width: 40%;
  margin: 0 0 3rem 0;
  border: 1px solid white;
  padding: 7px;
  border-radius: 50rem;
  text-align: center;
}
.main-dashboard-page .container .company-team .card h5 {
  font-size: 1.1rem;
}
.main-dashboard-page .container .company-team .card p {
  font-size: 0.8rem;
}
.main-dashboard-page .container .activity {
  border: none;
}
.main-dashboard-page .container .activity .card-body {
  background-color: rgb(10, 16, 22);
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

.form-control:focus,
.dropdown-toggle:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.show > .btn-secondary.dropdown-toggle:focus,
.show > .btn-secondary.dropdown-toggle:active {
  box-shadow: none;
  border: none;
}

body {
  background-color: #101820;
}