@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import "./variables";
// @import "./sidebar";
// @import "./dashboard";

////////////////////
// Abstracts
////////////////////
@import "./abstracts/abstracts";

////////////////////
// Global/Base
////////////////////
@import "./base/base";

////////////////////
// Layout
////////////////////
@import "./layout/layout";

////////////////////
// Components
////////////////////
@import "./components/components";

////////////////////
// Pages
////////////////////
@import "./pages/pages";

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;

  &:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
}

.form-control:focus,
.dropdown-toggle:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.show > .btn-secondary.dropdown-toggle:focus,
.show > .btn-secondary.dropdown-toggle:active {
  box-shadow: none;
  border: none;
}

body {
  background-color: #101820ff;
}
