@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
@keyframes growDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sidebar {
  z-index: 10000;
  width: 22rem;
  overflow-y: scroll;
  transition: 0.2s;
  background-color: rgb(10, 16, 22);
}
.sidebar.collapsed {
  width: 4.7rem;
  overflow-x: hidden;
}
.sidebar.collapsed:hover {
  width: 22rem;
  overflow-y: scroll;
}
.sidebar.collapsed:hover .sidebar-dropdown-menu {
  padding: 0 0 0 2rem;
  animation: growDown 300ms ease-in-out forwards;
}
.sidebar.collapsed:hover .sidebar-dropdown-menu .sidebar-dropdown-menu-item a {
  position: relative;
  right: -0.5rem;
  transition: 0.3s;
  inline-size: 17.5rem;
}
.sidebar.collapsed:hover .admin_text {
  display: block;
  inline-size: 1000px;
}
.sidebar.collapsed .admin_text a {
  display: none;
  overflow: hidden;
  color: #2277ef;
}
.sidebar.collapsed .sidebar-menu li:nth-child(3) a i {
  position: relative;
  right: 2px;
}
.sidebar.collapsed .sidebar-menu li:nth-child(4), .sidebar.collapsed .sidebar-menu li:nth-child(6), .sidebar.collapsed .sidebar-menu li:nth-child(7), .sidebar.collapsed .sidebar-menu li:nth-child(9) a i {
  position: relative;
  right: 1px;
}
.sidebar.collapsed .sidebar-menu li a {
  display: flex;
  gap: 1rem;
  height: 3rem;
  inline-size: 20rem;
  overflow: hidden;
}
.sidebar.collapsed .sidebar-menu li a i {
  height: 2rem;
  text-align: center;
  width: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.collapsed .sidebar-menu li ul li a {
  inline-size: 18rem;
  position: relative;
  right: 2rem;
}
.sidebar::-webkit-scrollbar {
  background-color: rgb(10, 16, 22);
  width: 8px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.05);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.sidebar::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #6102dd), color-stop(1, #2277ef));
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 10px;
}
.sidebar .sidebar-menu {
  list-style-type: none;
}
.sidebar .sidebar-menu .sidebar-menu-item:hover a {
  border-radius: 0.3rem;
}
.sidebar .sidebar-menu .sidebar-menu-item.focused > a {
  background-image: linear-gradient(to bottom right, #2277ef, #6102dd);
  color: rgb(10, 16, 22);
  border-radius: 0.3rem;
}
.sidebar .sidebar-menu .sidebar-menu-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2277ef;
  padding: 0.75rem 0.75rem;
  margin: 0.5rem 0;
}
.sidebar .sidebar-menu .sidebar-menu-item a:hover {
  background-color: rgb(26, 35, 41);
}
.sidebar .sidebar-menu .sidebar-menu-item a .menu-item-icon {
  margin: 0 0.7rem 0 0;
  font-size: 1.25rem;
  width: 1.3rem;
  text-align: center;
}
.sidebar .sidebar-menu .sidebar-menu-item a .right-arrow {
  transform: rotateZ(270deg);
}
.sidebar .sidebar-menu .sidebar-menu-item .focused > a {
  color: rgb(10, 16, 22);
  transition: all 0.3s;
}
.sidebar .sidebar-menu .sidebar-menu-item.active a {
  background-image: linear-gradient(to bottom right, #2277ef, #6102dd);
  color: rgb(10, 16, 22);
  border-radius: 0.3rem;
}
.sidebar .sidebar-menu .sidebar-menu-item > a {
  overflow: hidden;
}
.sidebar .sidebar-menu hr {
  height: 2px;
  background-image: linear-gradient(#2277ef, #6102dd);
}
.sidebar .sidebar-menu .sidebar-dropdown-menu {
  padding: 0 0 0 2rem;
  animation: growDown 300ms ease-in-out forwards;
}
.sidebar .sidebar-menu .sidebar-dropdown-menu .sidebar-dropdown-menu-item a {
  padding: 0.5rem 0.75rem;
  color: rgb(226, 226, 226);
  position: relative;
  transition: 0.3s;
}
.sidebar .sidebar-menu .sidebar-dropdown-menu.show {
  display: block;
  transition: height 0.3s ease-in;
}
.sidebar .sidebar-menu .sidebar-menu-item.focused > a .right-arrow {
  transform: rotateZ(360deg);
  transition: ease-in-out all 0.15s;
}

.navbar {
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #6102dd, #2277ef);
  background-color: rgb(10, 16, 22);
  width: 96.1%;
  float: right;
  background-color: rgb(10, 16, 22);
  display: flex;
  justify-content: space-between;
}
.navbar form input,
.navbar form button {
  border-radius: 0.2rem;
}
.navbar form input {
  border: none;
}
.navbar form input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar form button {
  border: 1px solid #2277ef;
  color: #2277ef;
  transition: all 0.3s;
}
.navbar form button:hover {
  background-color: #2277ef;
  color: white;
  border: 1px solid #2277ef;
}
.navbar .header-right {
  margin: 0 2.3rem;
  width: 50rem;
  gap: 1rem;
}
.navbar .header-right .profile-admin {
  height: 2.4rem;
  width: 2.4rem;
  border: 2px solid #2277ef;
  border-radius: 50px;
}
.navbar .header-right .profile-admin:hover {
  cursor: pointer;
}
.navbar .header-right .profile-admin img {
  height: 100%;
}
.navbar .header-right .dropdown button {
  background: transparent;
  border: none;
}
.navbar .header-right .dropdown button:focus, .navbar .header-right .dropdown button:active {
  box-shadow: none;
  outline: none;
  background: transparent;
  border: none;
}
.navbar .header-right .dropdown .dropdown-toggle::after {
  display: none;
}
.navbar .header-right .dropdown .dropdown-menu {
  width: 15rem;
  position: absolute;
  border: 1px solid #101820;
}
.navbar .header-right .dropdown .dropdown-menu .dropdown-item {
  color: #101820;
  transition: all 0.3s;
}
.navbar .header-right .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #adb6c7;
}
.navbar .header-right .dropdown .dropdown-menu span {
  display: block;
  text-align: center;
}
.navbar .header-right .dropdown:nth-child(2) .dropdown-menu {
  width: 5rem;
  margin: 0 40rem 0 0;
}
.navbar .header-right .dropdown:nth-child(3) .dropdown-menu {
  width: 13rem;
  left: -5rem;
}
.navbar .header-right .dropdown:nth-child(4) .dropdown-menu {
  width: 13rem;
  left: -10rem;
}

footer {
  border-radius: 0.3rem;
  background-color: rgb(10, 16, 22);
  color: white;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
.main-dashboard-page .container {
  padding: 0 0 0 4%;
}
.main-dashboard-page .container .news .card {
  margin: 0 0 25px 0;
  border: none;
  border-radius: 0.6rem;
}
.main-dashboard-page .container .news .card.card-custom {
  background-image: linear-gradient(to left, #6102dd, #2277ef);
}
.main-dashboard-page .container .news .card .card-title {
  font-size: 1.4rem;
  margin: 0 0 1.2rem 0;
}
.main-dashboard-page .container .news .card .card-subtitle {
  font-weight: 300;
  background-color: #101820;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.main-dashboard-page .container .news .card p {
  font-size: 0.9rem;
}
.main-dashboard-page .container .news .card i {
  display: inline-block;
  position: absolute;
  right: 3rem;
  top: 5rem;
  color: rgba(0, 0, 0, 0.6);
}
.main-dashboard-page .container .graph {
  border: none;
  background-color: rgb(10, 16, 22);
}
.main-dashboard-page .container .graph .graph-picture {
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
.main-dashboard-page .container .company-team .card {
  height: 15rem;
  background-color: rgb(10, 16, 22);
}
.main-dashboard-page .container .company-team .card img {
  width: 40%;
  margin: 0 0 3rem 0;
  border: 1px solid white;
  padding: 7px;
  border-radius: 50%;
  text-align: center;
}
.main-dashboard-page .container .company-team .card h5 {
  font-size: 1.1rem;
}
.main-dashboard-page .container .company-team .card p {
  font-size: 0.8rem;
}
.main-dashboard-page .container .customers-activity .card {
  border: none;
  background-color: rgb(10, 16, 22);
}
.main-dashboard-page .container .customers-activity .card-body {
  background-color: rgb(10, 16, 22);
  border-radius: 0.5rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr {
  color: white;
  height: 4rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr td:nth-child(1) {
  width: 10rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr td:nth-child(2) {
  width: 22rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr td:nth-child(3) {
  width: 10rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr td:nth-child(4) {
  width: 13rem;
}
.main-dashboard-page .container .customers-activity .card-body table tr td:nth-child(5) {
  width: 12rem;
}
.main-dashboard-page .container .links .card {
  background-color: rgb(10, 16, 22);
  color: white;
}
.main-dashboard-page .container .links .social-graph-wrapper.widget-facebook {
  background-color: rgb(59, 89, 152);
}
.main-dashboard-page .container .links .social-graph-wrapper.widget-linkedin {
  background-color: #007bb6;
}
.main-dashboard-page .container .links .social-graph-wrapper.widget-google {
  background-color: #ff0000;
}
.main-dashboard-page .container .links .social-graph-wrapper.widget-twitter {
  background-color: #1da1f2;
}
.main-dashboard-page .container .links .social-graph-wrapper .s-icon {
  font-size: 2.1875rem;
  position: relative;
  top: 0.625rem;
}
.main-dashboard-page .container .links .social-graph-wrapper {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

* {
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*::after {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  background-color: #101820;
}

a {
  transition: all 0.4s ease-in-out;
}

a:focus,
a:hover {
  text-decoration: none;
}

a.link {
  color: #c2cbd4;
}

a.link:focus,
a.link:hover {
  color: #00b8d9;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}