@import "../abstracts/variables";
@import "../abstracts/mixins";

.main-dashboard-page {
  .container {
    padding: 0 0 0 4%;
    .news {
      .card {
        margin: 0 0 25px 0;
        border: none;
        @include border-radius(0.3rem);

        &.card-custom {
          @include linear-gradient-main;
        }

        .card-title {
          font-size: 1.4rem;
          margin: 0 0 1.2rem 0;
        }

        .card-subtitle {
          font-weight: 300;
          background-color: $bg;
          @include border-radius(0.5rem);
          padding: 0.5rem;
          width: fit-content;
        }

        p {
          font-size: 0.9rem;
        }

        i {
          display: inline-block;
          position: absolute;
          right: 3rem;
          top: 5rem;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .graph {
      border: none;
      background-color: $dark-bg;

      .graph-picture {
        //! only for visualizing
        display: grid;
        place-items: center;
        text-transform: uppercase;
        align-items: center;
      }
    }

    .company-team {
      .card {
        height: 15rem;
        background-color: $dark-bg;

        img {
          width: 40%;
          margin: 0 0 3rem 0;
          @include border(1px, white);
          padding: 7px;
          @include border-radius-circle;
          text-align: center;
        }
        h5 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }

    .customers-activity {
      .card {
        border: none;
        background-color: $dark-bg;
      }

      .card-body {
        background-color: $dark-bg;
        @include border-radius(0.5rem);
        table {
          tr {
            color: white;
            height: 4rem;

            td {
              &:nth-child(1) {
                width: 10rem;
              }

              &:nth-child(2) {
                width: 22rem;
              }

              &:nth-child(3) {
                width: 10rem;
              }

              &:nth-child(4) {
                width: 13rem;
              }

              &:nth-child(5) {
                width: 12rem;
              }
            }
          }
        }
      }
    }

    .links {
      .card {
        background-color: $dark-bg;
        color: white;
      }

      .social-graph-wrapper.widget-facebook {
        background-color: $facebook;
      }
      .social-graph-wrapper.widget-linkedin {
        background-color: $linkedin;
      }
      .social-graph-wrapper.widget-google {
        background-color: $youtube;
      }
      .social-graph-wrapper.widget-twitter {
        background-color: $twitter;
      }

      .social-graph-wrapper .s-icon {
        font-size: 2.1875rem;
        position: relative;
        top: 0.625rem;
      }

      .social-graph-wrapper {
        text-align: center;
        padding-bottom: 20px;
        position: relative;
        color: #fff;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
      }
    }
  }
}
